/* CSS Document */

/*子导航*/
.communal {
	width: 1220px;
	margin: 0 auto;
}
#listing {
	height: 90px;
}
#listing li a {
	position: relative;
	color:#666;
}
#listing li a:hover {
	color:#09F;
}
#listing li a:before {
	content: "";
	border-radius: 50%;
	width: 1px;
	height: 1px;
	background: #666;
	display: block;
	position: absolute;
	top: 11px;
	left: -21px;
}
.aa{
	font-weight:bold;
	}
#listing li:first-child a:before {
	display: none;
}
.nav-list {
	float: left;
	height: 28px;
	line-height: 90px;
}
.nav-list li {
	float: left;
	margin-right: 50px;
}
/*购物车*/
.shopping_cart {
	width: 120px;
	height:40px;
	float: right;
	margin-top: 30px;
	text-align: center;
	position: relative;
}

.shopping_cart:hover .shopping_cart_content {
	display: block;
}
.shuliang {
	display: inline-block;
	background: #999;
	width: 20px;
	height: 20px;
	border-radius: 15px;
	color: #FFF;
}
.shopping{
	font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", 微软雅黑,        STHeiti, 华文细黑, sans-serif;
    color: #DCDCDC;
    font-size: 12px;}
.shopping_cart_content {
	width: 300px;
	height:200px;
	font-family: arial;
	background: white;
	border-radius: 8px;
	text-align: center;
	font-size: 15px;
	color: #666666;
	position: absolute;
	right: -12px;
	top: 35px;
	z-index: 5;
	display: none;
}
.shopping_cart_content lable{
	font-size:16px;
	color:#000;
	font-weight:150px;
	line-height:30px;}
.boult{
	position: absolute;
	right: 30px;
	top: -7.5px;
}
/*轮播广告*/
.carousel{
	height:501px;
	margin-bottom:30px;}
.carousel img{
	width:100%;
	height:100%;
	}
/*内容开始		*/
.container {
	margin:0 auto;
	width: 1220px;
}
/*新式产品*/
.news-panel,.hot-panel,.chuzi_app{ /*内容公共样式*/
	width:100%;
	border:#e6e6e6 1px solid;
	border-radius:8px;
	overflow:hidden;
	margin-bottom:30px;}
.news-panel ul li{
	float:left;
	width:25%;
	height:200px;
	position: relative;}
.news-panel ul li:before,.hot-panel ul li:before,
.chuzi_app ul li:before,.forum ul li:before{  /*公共样式*/  /*在...之前 before*/
	content:"";
	border-left:#e6e6e6 1px solid;
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;}	
.news-panel ul li:first-child:before,.hot-panel ul li:first-child:before,/*选择第一个 first-child*/
.chuzi_app ul li:first-child:before,.forum ul li:first-child:before{  
	display:none;}
	
.news-panel ul li:hover > a,.hot-panel ul li:hover > a,
.chuzi_app ul li:hover >a,.forum ul li:hover >a{   /*鼠标悬停内阴影*/
	width:100%;
	height: 100%;
	display: block;
	position: absolute;
	z-index: 5;
	top: 0;
	box-shadow: 0px 0px 20px #E6E6E6 inset;
	}
	
/*热门商品*/	
.hot-panel h1,.news-panel h1,.chuzi_app h1,.forum h1{ /*内容公共样式*/
	margin:0px;
	padding:0px;
	line-height: 60px;
	font-size: 18px;
	color:#666;
	font-weight:normal;
	text-indent: 40px;
	background: #FAFAFA;
	border-bottom: 1px solid #E6E6E6;
}
.hot-panel ul li{
	float: left;
	height:430px;
	background: #fff;
	width: 25%;
	position: relative;
	text-align: center;
}
.hot-panel ul li>img{
	width:206px;
	height: 206px;
	margin: 50px auto 30px;
}
.hot-panel ul li h2{
	font-size: 16px;
	font-weight: normal;
	margin:0px;
	padding:0px;
	
}
.hot-panel ul li p{
	font-size: 12px;
	color: #B2B2B2;
	line-height: 20px;
}
.hot-panel .price{
	position: absolute;
	bottom: 8%;
	width: 100%;
	left: 0;
	font-size: 18px;
	color: #DE4037;
	font-family: arial;
}
.finder{
	width:100%;
	position: absolute;
	z-index: 22;
	bottom: 75px;
	}
.finder >img{
	display: inline-block;
	 width: 8px;
	 height: 8px;
	 border-radius: 50%;
	 border: 1px solid #fff;
	 margin:0 3px;
	}
.finder >img:hover{
	box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.24);
	cursor: pointer;
	}
.finder img:first-child	{
	box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.24);
	}
.hot-panel ul li:hover .shoping{ /*鼠标经过效果  经过li 加入购物车和查看详情 出现*/
	display: block;
}
.hot-panel .shoping{
	width: 100%;
	position: absolute;
	bottom: 7%;
	display: none;
	z-index: 9;
}	
.shoping a{
	border: 1px solid #E6E6E6;
	font-size: 12px;
	width: 100px;
	height: 28px;
	display: inline-block;
	line-height: 28px;
	border-radius: 5px;
}
.shoping a.details{
	background: #f9f9f9;
	color: #646464;
}
.shoping a.details:hover{
	background: #ededed;
}

.shoping a.join-cart{
	background: #678ee7;
	color: #fff;
}
.shoping a.join-cart:hover{
	background: #6c8cd4;
}
.hot-panel ul li:hover .price{ /*鼠标经过效果  经过li 隐藏价格*/
	display: none;
} 

/*热门商品*/
.selection ul li {
	border-bottom:#e6e6e6 1px solid;}
	
.selection ul li:first-child
{
	width:50%;
	}
.selection ul li:first-child img{
	height:100%;
	width:100%;
	margin:0px;}
.application{
	float:right;
	border:1px solid #e6e6e6;
	border-radius:5px;
	width:100px;
	height:35px;
	background:#FeFeFe;
	text-indent:0px;
	margin-top:10px;
	margin-right:20px;
	line-height: 35px;
	text-align:center;
	font-size:14px;
	color:#000;
	}
.application:hover{
	background:#e6e6e6;
	}	
/*锤子应用*/		
.chuzi_app ul li,.forum ul li{
	float:left;
	width:25%;
	background:#FFF;
	text-align:center;
	position: relative;}
.chuzi_app ul li >img{
	margin-top:90px;}
.chuzi_app ul li >h6{
	font-size: 16px;
    line-height: 1.2;
    color: #424242;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	font-weight:normal;
	margin-top:40px;
	}	
.chuzi_app ul li>p{
	margin: 6px auto;
    font-size: 12px;
    line-height: 1.2;
	width:80%;
	text-align:center;
	height: 30px;
    color: #B2B2B2;

	word-wrap:break-word; 
    word-break:break-all;
    text-overflow: ellipsis;
    display: block;
	}
.app_log {
	margin-top:30px;
	margin-bottom:50px;
	}	
.chuzi_app ul li:hover .app_h{
	display:block;
	}			
.app_h{
	width:90%;
	height:90%;
	position:absolute;
	z-index:9;
	top:5%;
	left:5%;
	background:#FFF;
	display:none;}
.app_h >a:hover{
	background:#06F;}
.app_h>img{
	display:block;
	margin:0 auto;
	margin-top:50px;
	margin-bottom:30px;}
.app_h>p{
	font-size:14px;
	font-weight:normal;
	color:#666;}				
.chuzi_app ul li:hover .app_h{
	display:block;
	}
#aa{
	display:inline-block;
	margin-top:60px;}		

.y9-div-a{
	width: 210px;
	border-radius: 5px;
	display: block;
	background:#6891E2;
	margin: 20px auto;
}
.y9-div-button{
	display: inline-block;
	width: 20px;
	height: 21px;
	vertical-align: middle;
}
.y9-div-text{
	display: inline-block;
	height: 50px;
	font-size: 12px;
	color: white;
	text-align: center;
	line-height: 50px;
}
#y9-div-button-1{
	background:url(../images/win.png) no-repeat center;
}
#y9-div-button-2{
	background: url(../images/apple.png) no-repeat center;
}
.a_color{
	display:inline-block;
	margin-top:10px;
	font-size:12px;
	color:#06F;}	
/*锤子论坛*/
.forum{
	width:100%;
	border:#e6e6e6 1px solid;
	border-radius:8px;
	margin-bottom:30px;
	overflow:hidden;
	}
.forum ul li>img{
	width:245px;
	height: 156px;
	margin:30px auto;
	border-radius: 8px;
}
.text{
	text-align:left;
	margin-left:30px;
	margin-right:30px;
	overflow:hidden;}
.text>h2{
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	font-size:16px;
	font-weight:normal;
	height:48px;
	}
.text>p{
	margin-top:10px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	margin-bottom:10px;
	font-size:12px;
	color:#B2B2B2;
	height:35px;
	}
.text>span{
	display: block;
	margin-bottom:30px;
	}
.text>span a{
	color: #5079D9;
	font-size:12px;}		